.languages{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.languages li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    font-weight: 700;
    font-size: 1.125rem;
}

.languages li::before{
    display: inline-block;
    content: '';
    width: .75rem;
    height: .75rem;
    margin-right: .5rem;
    background-image: url('/portfolio/image/icons/ok-img.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
