.skills{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;

}

.skills .tools ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.skills .tools ul li{
    list-style: none;
}

.skills .tools ul li img{
    max-width: 60px;
    margin: .5rem;

}


.skills .personal ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.skills .personal ul li{
    margin-left: 2rem;
    padding: .5rem;
}

@media only screen and (min-width: 768px){
    .skills{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}